In [21]:
import sys
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\anaconda3\lib\site-packages (from mlxtend) (1.26.3)
Requirement already satisfied: pandas>=0.24.2 in c:\anaconda3\lib\site-packages (from mlxtend) (2.2.0)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\anaconda3\lib\site-packages (from mlxtend) (1.4.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\anaconda3\lib\site-packages (from mlxtend) (3.8.2)
Requirement already satisfied: joblib>=0.13.2 in c:\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

WARNING: Ignoring invalid distribution ~treamlit (C:\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\anaconda3\Lib\site-packages)

In [22]:
import csv
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [28]:
# Use forward slashes to avoid unicode error
path = "C:/Users/Pinak chimurkar/Market_Basket_Optimisation.csv"

data = []
with open(path, newline='', encoding='utf-8') as file:
    reader = csv.reader(file, delimiter=',')
    for row in reader:
        # remove empty cells
        items = [item.strip() for item in row if item.strip() != '']
        if items:
            data.append(items)

print("Total Transactions:", len(data))
print("Example Transaction:", data[0])

Total Transactions: 7501
Example Transaction: ['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']

In [29]:
te = TransactionEncoder()
te_ary = te.fit_transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)

print("One-hot encoded shape:", df.shape)
df.head()

One-hot encoded shape: (7501, 119)

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,True,True,False,True,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [30]:
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False, inplace=True)

print("Frequent Itemsets Found:", len(frequent_itemsets))
frequent_itemsets.head(10)

Frequent Itemsets Found: 257

     support             itemsets
46  0.238368      (mineral water)
19  0.179709               (eggs)
63  0.174110          (spaghetti)
24  0.170911       (french fries)
13  0.163845          (chocolate)
32  0.132116          (green tea)
45  0.129583               (milk)
33  0.098254        (ground beef)
30  0.095321  (frozen vegetables)
53  0.095054           (pancakes)

In [31]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
rules.sort_values(by=['lift', 'confidence'], ascending=False, inplace=True)

print("Rules Generated:", len(rules))
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head(10)

Rules Generated: 406

,antecedents,consequents,support,confidence,lift
163,(herb & pepper),(ground beef),0.015998,0.323450,3.291994
162,(ground beef),(herb & pepper),0.015998,0.162822,3.291994
134,"(spaghetti, mineral water)",(ground beef),0.017064,0.285714,2.907928
135,(ground beef),"(spaghetti, mineral water)",0.017064,0.173677,2.907928
388,"(spaghetti, mineral water)",(olive oil),0.010265,0.171875,2.609786
389,(olive oil),"(spaghetti, mineral water)",0.010265,0.155870,2.609786
161,(tomatoes),(frozen vegetables),0.016131,0.235867,2.474464
160,(frozen vegetables),(tomatoes),0.016131,0.169231,2.474464
145,(shrimp),(frozen vegetables),0.016664,0.233209,2.446574
144,(frozen vegetables),(shrimp),0.016664,0.174825,2.446574

In [32]:
frequent_itemsets.to_csv("frequent_itemsets.csv", index=False)
rules.to_csv("association_rules.csv", index=False)
print("Files saved successfully in current directory.")

Files saved successfully in current directory.